/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Chess Motif';
  src: url('assets/fonts/ChessMotif.woff2') format('woff2'),
      url('assets/fonts/ChessMotif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}