/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Chess Motif';
  src: url('assets/fonts/ChessMotif.woff2') format('woff2'),
      url('assets/fonts/ChessMotif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html, p-splitter.p-element.background,div.p-splitter.p-component.p-splitter-horizontal {
  height: 100%;
  width: 100%;
  background-color: #123619;
}