.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 10vh;
}

.piece {
  height: 100%;
  width: 100%;
  font-size: 9.3vh;
  font-family: "Chess Motif";
  text-align: center;
  z-index: 0; // To grab only the piece.
}

.piece-WHITE {
  color: white;
}

.piece-BLACK {
  color: black;
}

.color-RED {
  background-color: rgba(red, 0.4);
}

.color-GREEN {
  background-color: rgba(green, 0.4);
}

.color-YELLOW {
  background-color: rgba(yellow, 0.4);
}

.color-BLUE {
  background-color: rgba(#3b82f6, 0.4);
}