.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 10vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.piece {
  height: 100%;
  width: 100%;
  font-size: 9.3vh;
  font-family: "Chess Motif";
  text-align: center;
  z-index: 0; // To grab only the piece.
}

.square {
  height: 100%;
  width: 100%;
}

.color-RED {
  background-color: rgba(red, 0.4);
}

.color-GREEN {
  background-color: rgba(green, 0.4);
}

.color-YELLOW {
  background-color: rgba(yellow, 0.4);
}

.color-BLUE {
  background-color: rgba(#3b82f6, 0.4);
}

.field-number{
  font-size: 1.4vh;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.dark-field-number{
  color: #c19a6b;
}

.light-field-number{
  color: #300e05;
}
