<div
  [style.grid-column]="columnIndex"
  [style.grid-row]="rowIndex"
  class="field"
  [style.background]="
    isFieldDark() ? boardTheme?.darkField : boardTheme?.lightField
  "
>
  <div
    *ngIf="piece"
    class="piece piece-{{ piece.color }} color-{{ square?.highlight }}"
    [style.cursor]="piece.color === activePlayer ? 'grab' : 'default'"
    pDraggable="piece"
    [pDraggableDisabled]="piece.color !== activePlayer"
    (onDragStart)="dragStart.emit($event)"
    (onDragEnd)="dragEnd.emit($event)"
  >
    {{ getPieceChar() }}
  </div>
  <div
    *ngIf="piece===undefined && square?.highlight === HighlightColor.GREEN"
    class="piece color-GREEN"
  ></div>
  <div
    *ngIf="piece===undefined && square?.highlight === HighlightColor.BLUE"
    class="piece color-BLUE"
  ></div>
  <div
    *ngIf="piece===undefined && square?.highlight === HighlightColor.RED"
    class="piece color-RED"
  ></div>
</div>