<p-table
  [value]="fullMoveHistory"
  [scrollable]="true"
  scrollHeight="90vh"
  responsiveLayout="scroll"
  [resizableColumns]="true"
  styleClass="p-datatable-lg"
  selectionMode="single"
  [(contextMenuSelection)]="selectedMove"
  [contextMenu]="resetBoardContextMenu"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Move</th>
      <th>White</th>
      <th>Black</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-fullMove
  >
    <tr
      [pSelectableRow]="fullMove"
      [pContextMenuRow]="fullMove"
    >

      <td>{{this.boardService.getMoveCount() + fullMove?.count}}</td>
      <td>
        <div class="chess-motif">{{getPieceChar(fullMove?.whiteMove)}}</div>
        {{getMoveRepresentation(fullMove?.whiteMove)}}
        <div
          *ngIf="fullMove?.whiteMove?.promotedPiece"
          class="chess-motif"
        >{{this.getPromotionRepresentation(fullMove?.whiteMove)}}</div>
        {{getCheckOrMateRepresentation(fullMove?.whiteMove)}}
      </td>
      <td>
        <div class="chess-motif">{{getPieceChar(fullMove?.blackMove)}}</div>
        {{getMoveRepresentation(fullMove?.blackMove)}}
        <div
          *ngIf="fullMove?.blackMove?.promotedPiece"
          class="chess-motif"
        >{{this.getPromotionRepresentation(fullMove?.blackMove)}}</div>
        {{getCheckOrMateRepresentation(fullMove?.blackMove)}}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-contextMenu
  #resetBoardContextMenu
  [model]="menuItems"
></p-contextMenu>