ul {
  background-color: #116818;
  color: antiquewhite;
}

.chess-motif {
  font-family: "Chess Motif";
  display: contents;
}

.invisible {
  visibility: hidden;
  width: 0;
  padding: 0;
  border-image-width: 0;
  border-left-width: 0;
}
