<div id="fullHistory">
  <p-table
    [value]="fullMoveHistory"
    [scrollable]="true"
    scrollHeight="80vh"
    responsiveLayout="scroll"
    [resizableColumns]="true"
    styleClass="p-datatable-lg"
    selectionMode="single"
    [(contextMenuSelection)]="selectedMove"
    [contextMenu]="resetBoardContextMenu"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Move</th>
        <th>White</th>
        <th>Black</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-fullMove
    >
      <tr
        id="fullMove_{{fullMove.count}}"
        [pSelectableRow]="fullMove"
        [pContextMenuRow]="fullMove"
        [class.p-highlight]="(fullMove.count === 1 && (moveHistoryService.selectedMoveNumber$|async) === moveHistoryService.startIndex)
                            ||math.floor((moveHistoryService.selectedMoveNumber$|async)! / 2) + 1 === fullMove.count"
      >

        <td>{{fullMove?.count}}</td>
        <td>
          <div class="chess-motif">{{moveUtils.getPieceChar(fullMove?.whiteMove)}}</div>
          {{moveUtils.getMoveRepresentation(fullMove?.whiteMove)}}
          <div
            *ngIf="fullMove?.whiteMove?.promotedPiece"
            class="chess-motif"
          >
            {{moveUtils.getPromotionRepresentation(fullMove?.whiteMove)}}
          </div>
          {{moveUtils.getCheckOrMateRepresentation(fullMove?.whiteMove)}}
        </td>
        <td>
          <div class="chess-motif">{{moveUtils.getPieceChar(fullMove?.blackMove)}}</div>
          {{moveUtils.getMoveRepresentation(fullMove?.blackMove)}}
          <div
            *ngIf="fullMove?.blackMove?.promotedPiece"
            class="chess-motif"
          >
            {{moveUtils.getPromotionRepresentation(fullMove?.blackMove)}}
          </div>
          {{moveUtils.getCheckOrMateRepresentation(fullMove?.blackMove)}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <span class="p-buttonset">
    <button
      [disabled]="moveHistory.length===0 || (moveHistoryService.selectedMoveNumber$|async)===moveHistoryService.startIndex"
      icon="pi pi-fast-backward"
      pButton
      pRipple
      pTooltip="Move to start position."
      tooltipPosition="top"
      (click)="moveHistoryService.moveToStart()"
    >
    </button>
    <button
      [disabled]="moveHistory.length===0 || (moveHistoryService.selectedMoveNumber$|async)===moveHistoryService.startIndex"
      icon="pi pi-step-backward-alt"
      pButton
      pRipple
      pTooltip="Move back."
      tooltipPosition="top"
      (click)="moveHistoryService.moveBack()"
    >
    </button>
    <button
      [disabled]="moveHistory.length===0"
      [class.invisible]="moveHistoryService.isPlaying$|async"
      icon="pi pi-play"
      pButton
      pRipple
      pTooltip="Play"
      tooltipPosition="top"
      (click)="moveHistoryService.play()"
    >
    </button>
    <button
      [disabled]="moveHistory.length===0"
      [class.invisible]="!(moveHistoryService.isPlaying$|async)"
      icon="pi pi-pause"
      pButton
      pRipple
      pTooltip="Pause"
      tooltipPosition="top"
      (click)="moveHistoryService.pause()"
    >
    </button>
    <button
      [disabled]="moveHistory.length===0 || (moveHistoryService.selectedMoveNumber$|async)===moveHistory.length-1"
      icon="pi pi-step-forward-alt"
      pButton
      pRipple
      pTooltip="Move forward."
      tooltipPosition="top"
      (click)="moveHistoryService.moveForward()"
    >
    </button>
    <button
      [disabled]="moveHistory.length===0 || (moveHistoryService.selectedMoveNumber$|async)===moveHistory.length-1"
      icon="pi pi-fast-forward"
      pButton
      pRipple
      pTooltip="Move to end position."
      tooltipPosition="top"
      (click)="moveHistoryService.moveToEnd()"
    >
    </button>
  </span>
</div>

<p-contextMenu
  #resetBoardContextMenu
  [model]="menuItems"
></p-contextMenu>