$board-width: 80vh;

div.board {
  margin: auto;
  width: $board-width;
  height: $board-width;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
}

.cdk-drag {
  &.cdk-drag-preview > * {
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &.cdk-drag-placeholder > * {
    opacity: 0;
  }
}

.playerToMove {
  width: $board-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #495057;

  &-color--WHITE {
    background-color: white;
  }

  &-color--BLACK {
    background-color: black;
  }
}
