<div class="board">
  <ng-container *ngFor="let rowIndex of playerPerspectiveRows$ | async">
    <ng-container *ngFor="let columnIndex of playerPerspectiveColumns$ | async">
      <app-chess-field
        [rowIndex]="rowIndex"
        [columnIndex]="columnIndex"
        [piece]="boardService.getPiece$(columnIndex, rowIndex) | async"
        [activePlayer]="boardService.activePlayer$ | async"
        [boardTheme]="themingService.selectedTheme$ | async"
        [square]="highlightingService.getSquare$({ row: rowIndex, column: columnIndex })
            | async"
        [disabled]="isDragDisabled$ | async"
        (dragStart)="dragStart($event)"
        (dragEnd)="dragEnd($event)"
        #chessField></app-chess-field>
    </ng-container>
  </ng-container>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <p-listbox
      [options]="possiblePromotionPieces"
      (onClick)="selectPromotionPiece($event)"></p-listbox>
  </ng-template>
</p-overlayPanel>

<div
  *ngIf="boardService.activePlayer$ | async as playerColor"
  class="playerToMove"
  [style.color]="this.themingService.getColorForPlayer(playerColor)"
  [style.background-color]="this.themingService.getBackgroundColorForPlayer(playerColor)">
  It is your turn: {{ BoardUtils.getColorRepresentation(playerColor) }}
</div>

<p-toast position="top-center"></p-toast>
