<div class="board">
  <div
    *ngFor="let piece of this.boardService.getPieces()"
    class="piece piece-{{piece.color}}"
    [style.top.%]="getTopPosition(piece.position)"
    [style.left.%]="getLeftPosition(piece.position)"
    [style.cursor]="getCursor(piece, this.boardService.getBoard())"
    pDraggable="piece"
    [pDraggableDisabled]="piece.color !== this.boardService.getBoard().playerToMove"
    (onDragStart)="dragStart($event,piece)"
    (onDragEnd)="dragEnd($event)"
  >
    {{getBlackPieceChar(piece)}}
  </div>

  <div
    *ngFor="let square of this.highlightingService.getSquares$()|async"
    class="field color-{{square.highlight}}"
    [style.top.%]="getTopPosition(square.position)"
    [style.left.%]="getLeftPosition(square.position)"
  ></div>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <p-listbox
      [options]="possiblePromotionPieces"
      (onClick)="selectPromotionPiece($event)"
    ></p-listbox>
  </ng-template>
</p-overlayPanel>

<div class="{{this.boardService.getPlayerToMove$()|async}}-playerToMove"></div>

<p-toast position="top-center"></p-toast>