div.board {
  margin: 0.5vw 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
}

.cdk-drag {
  &.cdk-drag-preview > * {
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &.cdk-drag-placeholder > * {
    opacity: 0;
  }
}

.playerToMove {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &-color--WHITE {
    background-color: white;
  }

  &-color--BLACK {
    background-color: black;
  }
}
